#### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
data = [4, 8, 15, 16, 23, 42]
df = pd.Series(data)
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

#### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
data2 = [1,2,3,4,5,6,7,8,9,10]
df2 = pd.Series(data2)
print(df2)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

#### Q3. Create a Pandas DataFrame that contains the following data:

| Name   | Age | Gender |
|--------|-----|--------|
| Alice  |  25 | Female |
| Bob    |  30 | Male   |
| Claire |  27 | Female |

Then, print the DataFrame.

In [4]:
import pandas as pd

# Creating a DataFrame with the given data
data3 = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df3 = pd.DataFrame(data3)

# Displaying the DataFrame
print(df3)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

#### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A DataFrame in Pandas is a two-dimensional, size-mutable, and heterogeneous tabular data structure with labeled axes (rows and columns). It is essentially a collection of Series objects that share the same index. A DataFrame is akin to a spreadsheet or SQL table, or a dictionary of Series objects.

Pandas Series, on the other hand, is a one-dimensional, size-immutable, and homogeneous array-like structure with labeled data. It is similar to a column in a DataFrame but with only one row axis label.

Example:
Creating a Series:

In [5]:
import pandas as pd

# Creating a Series
data_series = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
print(data_series)

a    10
b    20
c    30
d    40
dtype: int64

Creating a DataFrame:

In [6]:
import pandas as pd

# Creating a DataFrame
data_frame = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [10, 20, 30, 40],
    'C': ['X', 'Y', 'Z', 'W']
}, index=['a', 'b', 'c', 'd'])
print(data_frame)

   A   B  C
a  1  10  X
b  2  20  Y
c  3  30  Z
d  4  40  W

#### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Pandas offers a wide array of functions to manipulate data in DataFrames. Some common ones include:

1. head():

Usage: View the first few rows of the DataFrame.
Example: df.head(5) shows the first 5 rows.

2. tail():

Usage: View the last few rows of the DataFrame.
Example: df.tail(5) shows the first 5 rows.

3. Reading Files (read_filetype)
Pandas can read data from various file formats using specific functions. Here are some common ones:

pd.read_csv(): Read a comma-separated values (CSV) file into a DataFrame.

Example: df = pd.read_csv('file.csv')
pd.read_excel(): Read an Excel file into a DataFrame.

Example: df = pd.read_excel('file.xlsx', sheet_name='Sheet1')
pd.read_json(): Read a JSON file into a DataFrame.

Example: df = pd.read_json('file.json')
pd.read_html(): Read HTML tables into a list of DataFrame objects.

Example: dfs = pd.read_html('http://example.com/table.html')

4. Writing to Files (to_filetype)
Pandas can write DataFrames to various file formats using specific functions:

df.to_csv(): Write DataFrame to a CSV file.

Example: df.to_csv('file.csv', index=False)
df.to_excel(): Write DataFrame to an Excel file.

Example: df.to_excel('file.xlsx', index=False)
df.to_json(): Write DataFrame to a JSON file.

Example: df.to_json('file.json')
df.to_html(): Write DataFrame to an HTML file.

Example: df.to_html('file.html')
df.to_sql(): Write DataFrame to a SQL database.

Example: df.to_sql('table_name', connection, index=False)

5. Accessing Columns (columns)
You can access and manipulate the columns of a DataFrame in various ways:

Access column names:

Example: column_names = df.columns

In [7]:

data = {
    'Region': ['North', 'South', 'East', 'West', 'North', 'South', 'East', 'West'],
    'Sales': [100, 150, 200, 250, 110, 160, 210, 260]
}

df = pd.DataFrame(data)
df.head(4)

  Region  Sales
0  North    100
1  South    150
2   East    200
3   West    250

#### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Series: Mutable  
DataFrame: Mutable  
Panel: Mutable (Note: The Panel data structure has been deprecated since Pandas version 0.25.0 and is no longer recommended for use. For 3D data, it is recommended to use MultiIndex DataFrame or xarray library.)

#### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [8]:
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

data = {
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female