#### Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of data that is stored and accessed electronically. Databases are used to manage, retrieve, and store data efficiently. They provide a systematic way of handling large amounts of information and support operations such as creating, reading, updating, and deleting data.

| **Feature**            | **SQL Databases**                                               | **NoSQL Databases**                                      |
|------------------------|-----------------------------------------------------------------|----------------------------------------------------------|
| **Data Model**         | Relational (tables with rows and columns)                       | Non-relational (document, key-value, graph, column-family)|
| **Schema**             | Fixed schema (predefined structure)                             | Dynamic schema (flexible structure)                       |
| **Query Language**     | Structured Query Language (SQL)                                 | Varies (e.g., MongoDB uses JSON-like queries, Cassandra uses CQL) |
| **ACID Compliance**    | Typically ACID-compliant (ensures transactions are processed reliably) | Some provide ACID compliance, but many are eventually consistent |
| **Scalability**        | Vertical scaling (adding more power to a single server)         | Horizontal scaling (adding more servers)                  |
| **Use Cases**          | Suitable for complex queries and transactions                   | Suitable for large volumes of unstructured or semi-structured data |
| **Examples**           | MySQL, PostgreSQL, Oracle, SQL Server                           | MongoDB, Cassandra, Redis, Neo4j                          |

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define and manage database schema. DDL commands are used to create, modify, and delete database structures but do not manipulate data within those structures. The primary DDL commands are CREATE, DROP, ALTER, and TRUNCATE.

##### DDL Commands:

1. CREATE: Used to create database objects such as databases, tables, indexes, and views.  
-- Example: Creating a new table named 'employees'  
CREATE TABLE employees (  
    employee_id INT PRIMARY KEY,  
    first_name VARCHAR(50),  
    last_name VARCHAR(50),  
    hire_date DATE  
);  

2. DROP: Used to delete database objects such as tables, databases, indexes, and views. It completely removes the object and its data from the database.  
-- Example: Dropping the 'employees' table  
DROP TABLE employees;  

3. ALTER: Used to modify the structure of an existing database object, such as adding, deleting, or modifying columns in a table.  
-- Example: Adding a new column 'email' to the 'employees' table  
ALTER TABLE employees  
ADD email VARCHAR(100);  

-- Example: Modifying the 'first_name' column to allow 100 characters  
ALTER TABLE employees  
MODIFY first_name VARCHAR(100);  

-- Example: Dropping the 'email' column from the 'employees' table  
ALTER TABLE employees  
DROP COLUMN email;  

4. TRUNCATE: Used to remove all rows from a table, but the table structure remains. Unlike DROP, it does not remove the table itself.  
-- Example: Truncating the 'employees' table to remove all data  
TRUNCATE TABLE employees;

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used for manipulating data within database objects. DML commands primarily include INSERT, UPDATE, DELETE, and SELECT (though SELECT is primarily considered part of the Data Query Language (DQL)).

DML Commands:
1. INSERT: Used to insert new rows of data into a table.

-- Example: Inserting a new row into the 'employees' table
INSERT INTO employees (employee_id, first_name, last_name, hire_date)
VALUES (1, 'John', 'Doe', '2023-01-15');
In this example, a new employee record with employee_id, first_name, last_name, and hire_date values is inserted into the employees table.

2. UPDATE: Used to modify existing data within a table.

-- Example: Updating the 'hire_date' for an employee with employee_id = 1
UPDATE employees
SET hire_date = '2023-02-01'
WHERE employee_id = 1;
This query updates the hire_date of the employee whose employee_id is 1 in the employees table.

3. DELETE: Used to remove rows from a table.

-- Example: Deleting an employee record with employee_id = 1 from the 'employees' table
DELETE FROM employees
WHERE employee_id = 1;
This query deletes the employee record whose employee_id is 1 from the employees table.

#### Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from a database. The primary command associated with DQL is SELECT, which is used to query data from tables.

SELECT Command: 
The SELECT command is used to retrieve data from one or more tables in a database.

Basic Syntax:

SELECT column1, column2, ... FROM table_name;

Explain:  
column1, column2, ...: Columns you want to retrieve from the table.  
table_name: Name of the table from which data is to be retrieved.  
Example:  
Consider a table named employees with columns employee_id, first_name, last_name, and hire_date. Here's how you would use SELECT to retrieve data from this table:  

-- Example: Retrieving all columns from the 'employees' table  
SELECT * FROM employees;  

Explain:  
This query retrieves all rows and columns from the employees table.

#### Q5. Explain Primary Key and Foreign Key.

Primary Key
A Primary Key is a column or set of columns in a database table that uniquely identifies each row in that table. It serves two main purposes:

Uniqueness: Every value in the primary key column (or columns) must be unique within the table. This ensures that no two rows can have the same primary key value.

Not Null Constraint: Primary key columns cannot have NULL values. This guarantees that every row in the table will have a value for the primary key, making it a reliable identifier.

Foreign Key
A Foreign Key is a column or a set of columns in one table that refers to the primary key in another table. It establishes a link between the two tables based on a relationship between their columns.

Purpose:  
Referential Integrity: A foreign key ensures referential integrity between related tables. It enforces that values in the foreign key column(s) of one table must exist as values in the primary key column(s) of another table.

Relationships: Foreign keys define relationships between tables, such as one-to-one, one-to-many, or many-to-many relationships.

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE if not exists test3.test_table(c1 INT, c2 VARCHAR(50), c3 FLOAT, c4 VARCHAR(50))")
mydb.close()

cursor() Method  
The cursor() method is used to create a cursor object in Python that allows you to interact with the MySQL database. Here’s how it works:

Purpose: The cursor object acts as an interface to fetch rows from the result set returned by a query.  
Usage: After establishing a connection to the database using mysql.connector.connect(), you create a cursor object using conn.cursor().

execute() Method  
The execute() method is used to execute SQL queries or commands through the cursor object. Here’s how it works:

Purpose: Executes the SQL statement passed as a parameter to the method.  
Usage: You call cursor.execute(sql_query) where sql_query is a string containing the SQL statement you want to execute.

#### Q7. Give the order of execution of SQL clauses in an SQL query.

In an SQL query, the order of execution of clauses generally follows this sequence:

SELECT: Specifies the columns to retrieve from the database.

FROM: Specifies the tables from which to retrieve the data.

JOIN: Combines rows from two or more tables based on a related column between them.

WHERE: Filters rows based on specified conditions.

GROUP: BY: Groups the rows that have the same values into summary rows.

HAVING: Filters groups based on specified conditions.

ORDER BY: Sorts the result set by specified columns.

LIMIT / OFFSET: Limits the number of rows returned and specifies the starting row for the result set (optional, depending on the database).