#### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

MongoDB is a popular open-source NoSQL database that uses a document-oriented data model. It stores data in flexible, JSON-like documents, meaning fields can vary from document to document, and data structure can be changed over time. MongoDB is designed to handle a large volume of unstructured data and provides features like high availability, horizontal scalability, and high performance.

Non-relational databases, also known as NoSQL databases, are databases that do not use the traditional tabular schema of rows and columns found in relational databases. Instead, they use a variety of data models, including document, key-value, wide-column, and graph models. Non-relational databases are designed to handle large volumes of data and are optimized for specific use cases where relational databases might be less efficient.

MongoDB is preferred over SQL databases in scenarios where flexibility and scalability are crucial. It excels in handling dynamic and evolving data structures, making it ideal for applications with frequently changing schemas. MongoDB efficiently manages large volumes of unstructured or semi-structured data, making it suitable for big data applications. Its ability to distribute data across multiple servers facilitates horizontal scalability, allowing for easy expansion. MongoDB is also well-suited for applications requiring high write throughput, efficiently managing large volumes of writes. For location-based queries and geospatial data, MongoDB offers robust geospatial indexing. Additionally, its flexible schema and ease of use make it a good choice for rapid development and prototyping, where the database structure may evolve quickly.

#### Q2. State and Explain the features of MongoDB.

1. Document-Oriented Storage: Stores data in flexible, JSON-like documents, allowing varied data structures.
2. Schema Flexibility: No fixed schema, enabling easy modifications and rapid development.
3. High Performance: Optimized for fast data retrieval and storage, handling large volumes efficiently.
4. Horizontal Scalability: Supports sharding to distribute data across multiple servers, facilitating easy scaling.
5. Rich Query Language: Powerful query capabilities for complex queries and real-time data aggregation.
6. Replication and High Availability: Ensures data redundancy and reliability through replica sets.

#### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.8.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 21.3 MB/s eta 0:00:00a 0:00:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.6.1-py3-none-any.whl (307 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 307.7/307.7 kB 25.5 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.6.1 pymongo-4.8.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://adnanriyaz:severe333@cluster0.e5jhktf.mongodb.net/?appName=Cluster0"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [6]:
db=client["pwassignment"]

In [7]:
collec_pw= db["records"]

#### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [11]:
data1= { "name" : "Adnan Riyaz",
         "class" : "data Science masters",
         "time" : "flexi"
}
collec_pw.insert_one(data1)

InsertOneResult(ObjectId('668cd5269b3fec47c88f6510'), acknowledged=True)

In [12]:
data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]
collec_pw.insert_many(data3)

InsertManyResult([ObjectId('668cd54a9b3fec47c88f6511'), ObjectId('668cd54a9b3fec47c88f6512'), ObjectId('668cd54a9b3fec47c88f6513'), ObjectId('668cd54a9b3fec47c88f6514'), ObjectId('668cd54a9b3fec47c88f6515'), ObjectId('668cd54a9b3fec47c88f6516'), ObjectId('668cd54a9b3fec47c88f6517'), ObjectId('668cd54a9b3fec47c88f6518'), ObjectId('668cd54a9b3fec47c88f6519'), ObjectId('668cd54a9b3fec47c88f651a'), ObjectId('668cd54a9b3fec47c88f651b'), ObjectId('668cd54a9b3fec47c88f651c')], acknowledged=True)

In [13]:
for i in collec_pw.find():
    print(i)

{'_id': ObjectId('668cd5269b3fec47c88f6510'), 'name': 'Adnan Riyaz', 'class': 'data Science masters', 'time': 'flexi'}
{'_id': ObjectId('668cd54a9b3fec47c88f6511'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('668cd54a9b3fec47c88f6512'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('668cd54a9b3fec47c88f6513'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('668cd54a9b3fec47c88f6514'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('668cd54a9b3fec47c88f6515'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('668cd54a9b3fec47c88f6516'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('668cd54a9b3fec47c88f6517'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('668cd54a9b3fec47c88f6518'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('668cd54a9b3fec47c88f6519'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('668cd54a9b3fec47c88f651a'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('668cd54a9b3fec47c88f651b'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('668cd54a9b3fec47c88f651c'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [14]:
collec_pw.find_one()

{'_id': ObjectId('668cd5269b3fec47c88f6510'),
 'name': 'Adnan Riyaz',
 'class': 'data Science masters',
 'time': 'flexi'}

#### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

The find() method in MongoDB is used to query a collection and retrieve documents that match the criteria specified. It returns a cursor to the documents that match the query. You can use it to filter documents based on specific conditions, sort the results, and project only the fields you need.

Here's a simple code example demonstrating the use of the find() method:

In [15]:
for i in collec_pw.find():
    print(i)

{'_id': ObjectId('668cd5269b3fec47c88f6510'), 'name': 'Adnan Riyaz', 'class': 'data Science masters', 'time': 'flexi'}
{'_id': ObjectId('668cd54a9b3fec47c88f6511'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('668cd54a9b3fec47c88f6512'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('668cd54a9b3fec47c88f6513'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('668cd54a9b3fec47c88f6514'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('668cd54a9b3fec47c88f6515'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('668cd54a9b3fec47c88f6516'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('668cd54a9b3fec47c88f6517'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('668cd54a9b3fec47c88f6518'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('668cd54a9b3fec47c88f6519'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('668cd54a9b3fec47c88f651a'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('668cd54a9b3fec47c88f651b'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('668cd54a9b3fec47c88f651c'), 'name': 'Viola', 'address': 'Sideway 1633'}

#### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

The sort() method in MongoDB is used to sort the documents in a result set based on one or more fields. You can specify the sort order for each field, either ascending (1) or descending (-1).

Example:

In [18]:
data99= [
    { "_id": 1, "name": "Alice", "age": 24, "grade": 85 },
    { "_id": 2, "name": "Bob", "age": 22, "grade": 92 },
    { "_id": 3, "name": "Charlie", "age": 23, "grade": 88 },
    { "_id": 4, "name": "David", "age": 21, "grade": 95 }
]
collec_pw.insert_many(data99)
query = {}

# Sorting by 'age' in ascending order
sort_order = [('age', 1)]

# Use the find() method with the sort() option
results = collec_pw.find(query).sort(sort_order)

# Iterate over the results and print each document
for document in results:
    print(document)

{'_id': ObjectId('668cd5269b3fec47c88f6510'), 'name': 'Adnan Riyaz', 'class': 'data Science masters', 'time': 'flexi'}
{'_id': ObjectId('668cd54a9b3fec47c88f6511'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('668cd54a9b3fec47c88f6512'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('668cd54a9b3fec47c88f6513'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('668cd54a9b3fec47c88f6514'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('668cd54a9b3fec47c88f6515'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('668cd54a9b3fec47c88f6516'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('668cd54a9b3fec47c88f6517'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('668cd54a9b3fec47c88f6518'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('668cd54a9b3fec47c88f6519'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('668cd54a9b3fec47c88f651a'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('668cd54a9b3fec47c88f651b'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('668cd54a9b3fec47c88f651c'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 4, 'name': 'David', 'age': 21, 'grade': 95}
{'_id': 2, 'name': 'Bob', 'age': 22, 'grade': 92}
{'_id': 3, 'name': 'Charlie', 'age': 23, 'grade': 88}
{'_id': 1, 'name': 'Alice', 'age': 24, 'grade': 85}

#### Q7. Explain why delete_one(), delete_many(), and drop() is used.

In MongoDB, the delete_one(), delete_many(), and drop() methods are used to remove documents and collections. Each method serves a different purpose and is used in specific scenarios.

1. delete_one()
The delete_one() method is used to delete a single document that matches a specified filter. If multiple documents match the filter, only the first document encountered is deleted.

In [22]:
filter = {'name': 'Viola'}

# Delete one document matching the filter
collec_pw.delete_one(filter)

for i in collec_pw.find():
    print(i)
#name viola is deleted

{'_id': ObjectId('668cd5269b3fec47c88f6510'), 'name': 'Adnan Riyaz', 'class': 'data Science masters', 'time': 'flexi'}
{'_id': ObjectId('668cd54a9b3fec47c88f6511'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('668cd54a9b3fec47c88f6512'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('668cd54a9b3fec47c88f6513'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('668cd54a9b3fec47c88f6514'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('668cd54a9b3fec47c88f6515'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('668cd54a9b3fec47c88f6516'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('668cd54a9b3fec47c88f6517'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('668cd54a9b3fec47c88f6518'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('668cd54a9b3fec47c88f6519'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('668cd54a9b3fec47c88f651a'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('668cd54a9b3fec47c88f651b'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 1, 'name': 'Alice', 'age': 24, 'grade': 85}
{'_id': 2, 'name': 'Bob', 'age': 22, 'grade': 92}
{'_id': 3, 'name': 'Charlie', 'age': 23, 'grade': 88}
{'_id': 4, 'name': 'David', 'age': 21, 'grade': 95}

2. delete_many()
The delete_many() method is used to delete multiple documents that match a specified filter.

In [23]:
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},

    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},

    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]
collec_pw.insert_many(list_of_records)
filter = {'product': 'Affordable AI'}

# Delete many document matching the filter
collec_pw.delete_many(filter)

for i in collec_pw.find():
    print(i)

{'_id': ObjectId('668cd5269b3fec47c88f6510'), 'name': 'Adnan Riyaz', 'class': 'data Science masters', 'time': 'flexi'}
{'_id': ObjectId('668cd54a9b3fec47c88f6511'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('668cd54a9b3fec47c88f6512'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('668cd54a9b3fec47c88f6513'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('668cd54a9b3fec47c88f6514'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('668cd54a9b3fec47c88f6515'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('668cd54a9b3fec47c88f6516'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('668cd54a9b3fec47c88f6517'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('668cd54a9b3fec47c88f6518'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('668cd54a9b3fec47c88f6519'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('668cd54a9b3fec47c88f651a'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('668cd54a9b3fec47c88f651b'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 1, 'name': 'Alice', 'age': 24, 'grade': 85}
{'_id': 2, 'name': 'Bob', 'age': 22, 'grade': 92}
{'_id': 3, 'name': 'Charlie', 'age': 23, 'grade': 88}
{'_id': 4, 'name': 'David', 'age': 21, 'grade': 95}
{'_id': ObjectId('668cd8e49b3fec47c88f651f'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

3. drop()
The drop() method is used to remove an entire collection from the database. This operation deletes all documents in the collection and the collection itself.